$black-100: #000;
$indigo: #3f51b5;
$indigo-lighten-4: #c5cae9;
$indigo-darken-4: #1a237e;
$white-100: #fff;
$large-and-up: 'screen and (min-width : 993px)';

// fallback
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/MaterialIcons.woff2') format('woff2');
}

@mixin list {
  li {
    a {
      color: $indigo-darken-4;
      cursor: pointer;

      &:hover,
      &:focus,
      .active {
        color: $indigo;
      }
    }
  }
}

* {
  @include list;
}

// Material Icons font styling
.material-icons {
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;

  &.large {
    font-size: 36px;
  }
}

html,
#app,
body,
.app-wrapper {
  // @media #{$large-and-up} {
    
  // }

  box-sizing: border-box;
  height: 100%;
  min-height: 720px;
}

body {
  background: $black-100;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.app-wrapper {
  padding: 2.5%;
  position: relative;

  .app-navbar {
    background-color: transparent;
    box-shadow: none;
    transform: translate(0, -25%);
    z-index: 1001;

    ul {
      height: 64px;

      li {
        line-height: 3rem;
      }
    }
  }

  .main-wrapper {
    box-sizing: border-box;
    height: 90%;
    width: 100%;
  }

  .app-background {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.avatar {
  background-color: $indigo-darken-4;
  border: 1px solid $white-100;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  text-align: center;
  z-index: 1001;
}

.avatar-small {
  height: 3.5rem;
  width: 3.5rem;

  i {
    line-height: 3.5rem !important;
  }
}

.account-menu {
  @include list;

  width: auto !important;
  z-index: 1001 !important;
}

.auth-page-wrapper {
  height: 100%;
}

.col {
  height: 100%;
}

.logo-image {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  img {
    height: 70%;
  }
}

.auth-panel {
  margin: 25% 10%;
  width: 80%;

  .card-content {
    height: 100%;
  }
}

.tabs {
  .indicator {
    background-color: $indigo-darken-4;
  }

  .tab {
    a {
      color: $indigo-darken-4 !important;

      &:hover,
      &:focus,
      .active {
        color: $indigo !important;
      }
    }
  }
}

.auth-form {
  color: $black-100;

  .form-field {
    margin-top: 0;
  }
}

.form-label {
  .active {
    color: $indigo-darken-4;
  }
}

.dashboard-wrapper {
  height: 100%;

  .row {
    height: 100%;
  }
}

.fixed-side-menu {
  float: left;

  .fixed-side-menu-item {
    color: $white-100;
    cursor: pointer;
    padding: 10px;

    i {
      font-size: 36px;
    }

    &.active {
      color: $indigo-darken-4;
      text-shadow:
      -1px -1px 0 $white-100,
      1px -1px 0 $white-100,
      -1px 1px 0 $white-100,
      1px 1px 0 $white-100;
    }
  }
}

.side-panel {
  height: 100%;
  position: relative;
}

.main-panel {
  height: 100%;
  position: relative;
}

.main-close {
  border: 1px solid $white-100;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(20%, -20%);
}

.side-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  .own-feed,
  .public-feed,
  .people-feed {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.main-view {
  height: 100%;
}

.new-doc {
  background-color: $indigo-darken-4;
  bottom: 3%;
  position: absolute;
  right: 5%;
}

.hidden {
  display: none;
}

.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  text-align: center;
}

.spinner-layer {
  border-color: $indigo-darken-4;
}

.view-wrapper {
  border: 2px solid $indigo-darken-4;
  border-radius: 2px;
  height: 100%;

  .middle {
    margin-top: 40vh;
  }
}

.document-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ql-container.ql-snow {
  border: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.ql-toolbar.ql-snow {
  border-bottom: 1px solid $indigo-darken-4;
  border-top: 1px solid $indigo-darken-4;
}

.menu-bar {
  background: $indigo-darken-4;
  height: 56px;
  position: relative;

  .menu-button {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: $white-100;
    display: flex;
    height: 7vh;
    line-height: 7vh;
    padding: 0 10px;

    &:hover,
    &:focus {
      background-color: transparent;
      border: 0;
    }
  }

  .menu-dropdown {
    border: 1px solid $indigo-darken-4;
    width: auto !important;

    &.active {
      border: 1px solid $indigo-darken-4;
      top: 100% !important;
      width: auto !important;
    }

    @include list;

    li {
      &:not(.clickable) {
        pointer-events: none;
      }

      a {
        &.active {
          background-color: $indigo-darken-4;
          border: 1px solid $white-100;
          color: $white-100 !important;
        }
      }
    }
  }

  .status-container {
    float: left;
    left: 40%;
    position: relative;
  }

  .status-span {
    float: left;
    left: -50%;
    position: relative;
  }
}

.ql-stroke {
  stroke: $indigo-darken-4 !important;
}

.ql-fill {
  fill: $indigo-darken-4 !important;
}

.ql-picker {
  color: $indigo-darken-4 !important;
}

input.title-editor {
  border-bottom: 0;
  box-sizing: border-box;
  font-size: 32px;
  height: 56px;
  line-height: 56px;
  margin: 0;
  padding: 0 10px;
  width: 100%;

  &:focus:not([readonly]) {
    border-bottom: 0;
    box-shadow: none;
  }
}

.user-details {
  border-right: 2px solid $indigo-darken-4;
  // display: flex;
  // flex-direction: column;
  height: 100%;
  overflow: scroll;
  position: relative;

  .fixed-action-btn {
    bottom: 3%;
    position: absolute;
    right: 3%;
  }

  .header-photo {
    background-color: $indigo-darken-4;
    position: relative;

    .profile-photo {
      background-color: $white-100;
      border: 1px solid $indigo-darken-4;
      border-radius: 50%;
      color: $indigo-darken-4;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // .details-body {
  //   flex-grow: 1;
  // }
}

.user-detail {
  display: block;
  font-size: 1.3rem;

  &[type='text'],
  &[type='email'] {
    color: $black-100 !important;
    font-size: 1.3rem;
    margin: 0 !important;

    &[disabled] {
      border-bottom: 0;
    }
  }
}

.search {
  height: 50px;
  left: -12.5%;
  opacity: .99;
  position: relative;
  width: 125%;
}

.search-input {
  background: transparent;
  padding-left: 10%;

  input[type=search],
  input[type=search]:focus:not([readonly]) {
    border-bottom: 0;
    box-shadow: none;
    color: $white-100;
    transform: translate(0, 10%);
  }
}

.pagination {
  // margin-left: -5%;
  // margin-right: 56px;
  margin: 5px 56px 0 -5%;

  li {
    &.disabled {
      pointer-events: none;
    }

    &.active {
      background-color: $indigo-darken-4;

      a {
        color: $white-100 !important;
      }
    }

    .no-padding {
      padding: 0;
    }
  }
}

.confirm-dialog {
  @media #{$large-and-up} {
    width: 30%;
  }
}

.modal {
  .modal-footer {
    .btn {
      margin: 6px;
    }
  }
}

h5 {
  font-size: 1.3rem;
  font-weight: 300;
}

.feed {
  flex-grow: 1;
  overflow-y: auto;
}

table {
  font-size: 1.3rem;
}

.security {
  padding: 3%;
}

.password-change {
  padding: 2.5%;

  form {
    .input-field {
      min-width: 300px;
      width: 50%;
    }
  }
}
